<div id="template-data">
    <div>
        <h2>User details</h2>
    </div>
    
    <div>
        <div>
            <label for=""><b>Name:</b></label>&nbsp;
            <span>{{basic.first_name}}&nbsp;{{basic.last_name}}</span>
        </div>
        <div>
            <label for=""><b>Email:</b></label>&nbsp;
            <span>{{basic.email}}</span>
        </div>
        <div>
            <label for=""><b>Phone Number:</b></label>&nbsp;
            <span>{{basic.contact_no}}</span>
        </div>
        <div>
            <label for=""><b>Address:</b></label>&nbsp;
            <span>{{basic.address}}</span>
        </div>
        <div>
            <label for=""><b>Sex:</b></label>&nbsp;
            <span>{{basic.sex}}</span>
        </div>
        <div>
            <label for=""><b>Marital Status:</b></label>&nbsp;
            <span>{{basic.marital_status}}</span>
        </div>
        <div>
            <label for=""><b>D.O.B:</b></label>&nbsp;
            <span>{{basic.dob}}</span>
        </div>
        <div>
            <label for=""><b>Nationality:</b></label>&nbsp;
            <span>{{basic.nationality}}</span>
        </div>
        <div>
            <label for=""><b>Passport No.:</b></label>&nbsp;
            <span>{{basic.passport_no}}</span>
        </div>
        <div>
            <label for=""><b>PAN:</b></label>&nbsp;
            <span>{{basic.pan_no}}</span>
        </div>
        <div>
            <label for=""><b>LinkedIn url:</b></label>&nbsp;
            <span>{{basic.linkedin_url}}</span>
        </div>
    </div>

    <div>
        <h2>Education Details</h2>
    </div>
    {{#each education}}    
        <div>
            <div>
                <label for=""><b>Degree:</b></label>&nbsp;
                <span>{{degree}}</span>
            </div>
            <div>
                <label for=""><b>Institute Name:</b></label>&nbsp;
                <span>{{inst_name}}</span>
            </div>
            <div>
                <label for=""><b>Board/University:</b></label>&nbsp;
                <span>{{authority}}</span>
            </div>
            <div>
                <label for=""><b>Start Year:</b></label>&nbsp;
                <span>{{start_year}}</span>&nbsp;&nbsp;&nbsp;
                <label for=""><b>End Year:</b></label>&nbsp;
                <span>{{end_year}}</span>
            </div>
            <div>
                <label for=""><b>Percentage/CGPA:</b></label>&nbsp;
                <span>{{marks}}</span>
            </div>
        </div>
    {{/each}}

    <div>
        <h2>Project</h2>
    </div>


    {{#each project}}
        <div>
            <div>
                <label for=""><b>Project Name:</b></label>&nbsp;
                <span>{{project_name}}</span>
            </div>
            <div>
                <label for=""><b>Organization Name:</b></label>&nbsp;
                <span>{{org_name}}</span>
            </div>
            <div>
                <label for=""><b>Start Year:</b></label>&nbsp;
                <span>{{start_date}}</span>&nbsp;&nbsp;&nbsp;
                <label for=""><b>End Year:</b></label>&nbsp;
                <span>{{end_date}}</span>
            </div>
            <div>
                <label for=""><b>Description:</b></label>&nbsp;
                <span>{{project_desc}}</span>
            </div>
        </div>
    {{/each}}

    <div>
        <h2>Skills</h2>
    </div>
    <div>
        <div>
            <label for=""><b>Technical Skills:</b></label>&nbsp;
            <span>{{basic.skills}}</span>
        </div>
        <div>
            <label for=""><b>Traits:</b></label>&nbsp;
            <span>{{basic.traits}}</span>
        </div>
        <div>
            <label for=""><b>Language:</b></label>&nbsp;
            <span>{{basic.languages}}</span>
        </div>
        <div>
            <label for=""><b>Hobbies:</b></label>&nbsp;
            <span>{{basic.hobbies}}</span>
        </div>
        <div>
            <label for=""><b>Objective:</b></label>&nbsp;
            <span>{{basic.objective}}</span>
        </div>
    </div>

    <div>
        <h2>Work</h2>
    </div>
    {{#each work}}
        <div>
            <div>
                <label for=""><b>Organization Name:</b></label>&nbsp;
                <span>{{org_name}}</span>
            </div>
            <div>
                <label for=""><b>Type:</b></label>&nbsp;
                <span>{{type}}</span>
            </div>
            <div>
                <label for=""><b>Start Year:</b></label>&nbsp;
                <span>{{start_date}}</span>&nbsp;&nbsp;&nbsp;
                <label for=""><b>End Year:</b></label>&nbsp;
                <span>{{end_date}}</span>
            </div>
            <div>
                <label for=""><b>Resposibility:</b></label>&nbsp;
                <span>{{responsibility}}</span>
            </div>
        </div>
    {{/each}}

    <div>
        <h2>End Note</h2>
    </div>

    <div>    
        <div>
            <label for="">Date:</label>&nbsp;
            <span>{{basic.gen_date_time}}</span>
        </div>
        <div>
            <label for="">Place:</label>&nbsp;
            <span>{{basic.place}}</span>
        </div>
        <div>
            <label for="">Name:</label>&nbsp;
            <span>{{basic.sign_img}}</span>
        </div>
    </div>

</div>