<div id="template-contents">
    <div id="template-data">
        <div id="temp-main">
            {{!-- <img src="" alt=""> --}}
            <h1 id="temp-name">{{basic.first_name}} {{basic.last_name}}</h1>
            <p>{{basic.email}} | {{basic.contact_no}}</p>
            {{#if basic.linkedin_url}}
                <p>{{basic.linkedin_url}}</p>
            {{/if}}
        </div>
        
        
        <br>
        <div class="temp-table">
            <h2 id="temp-heading">Objective:</h2>
        
            <p>{{basic.objective}}</p>
        </div>
        
        <div class="temp-table">
            <h2 id="temp-heading">Education:</h2>
            <table>
                <tr>
                    <th>Passing Year</th>
                    <th>Institute Name</th>
                    <th>Course</th>
                    <th>Percentage/CGPA</th>
                </tr>
                {{#each education}}
                    <tr>
            
                        <td class="year">{{end_year}}</td>
                        <td class="institute">{{inst_name}}</td>
                        <td class="course">{{degree}}</td>
                        <td class="percent">{{marks}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>
        {{#if project.length}}
            <div class="temp-table">
                <h2 id="temp-heading">Project:</h2>
                {{#each project}}
                    <ul>
                        <li>
                            <span>Project Name: </span> {{project_name}}
                        </li>
                        <li>
                            <span>Duration: </span>{{start_date}} - {{end_date}}
                        </li>
                        <li>
                            <span>Project Description: </span>{{project_desc}}
                        </li>
                        <li>
                            <span>Organization Name: </span>{{org_name}}
                        </li>
                    </ul>
                {{/each}}
            </div>
        {{/if}}
        {{#if work.length}}
            <div class="temp-table">
                <h2 id="temp-heading">Work Experience:</h2>
                {{#each work}}
                    <ul>
                        <li>
                            <span>Organization Name: </span>{{org_name}}
                        </li>
                        <li>
                            <span>Type: </span>{{type}}
                        </li>
                        <li>
                            <span>Start Year: </span>{{start_date}}
                        </li>
                        <li>
                            <span>End Year: </span>{{end_date}}
                        </li>
                        <li>
                            <span>Responsibilies: </span>{{responsibility}}
                        </li>
                    </ul>
                {{/each}}
            </div>
        {{/if}}
        <div class="temp-table">
            <h2 id="temp-heading">Skillset:</h2>
            <ul>
        
                <li><span>Skills: </span>{{basic.skills}}</li>
                <li><span>Traits: </span>{{basic.traits}}</li>
                <li><span>Language: </span>{{basic.languages}}</li>
            </ul>
        </div>
        <div class="temp-table">
            <h2 id="temp-heading">Personal Details:</h2>
            <ul>
                <li>
                    <span>Date Of Birth: </span>{{basic.dob}}
                </li>
                <li>
                    <span>Address: </span>{{basic.address}}
                </li>
                <li>
                    <span>Sex: </span>{{basic.sex}}
                </li>
                <li>
                    <span>Nationality: </span>{{basic.nationality}}
                </li>
                {{#if basic.pan_no}}
                    <li>
                        <span>PAN: </span>{{basic.pan_no}}
                    </li>
                {{/if}}
                {{#if basic.passport_no}}
                    <li>
                        <span>Passport: </span>{{basic.passport_no}}
                    </li>
                {{/if}}
                <li><span>Hobbies: </span>{{basic.hobbies}}</li>
            </ul>
        </div>
        <div id="temp-disclaimer">
            <h2 id="temp-heading">Declaration:</h2>
            <p class="data">
                I hereby declare that the details provided by me in this resume are correct and I have knowingly not
                omitted/
                misrepresented any information. I am aware that the company can use this data for verification purposes and
                any
                material inconsistency identified between the details shared above versus actual information would have a
                bearing on my employment, based upon company policies.
            </p>
        </div>
        <div>
            <div>
                <p>
                    <span>Date: </span> {{basic.gen_date_time}}
                    <span style="float: right;">{{basic.sign_img}}</span>
                </p>
            </div>
        
            <div>
                <p>
                    <span>Place: </span> {{basic.place}}
                    <span style="float: right;">(Name)</span>
                </p>
            </div>
        </div>

    </div>
</div>